server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: ${SPRING_APP_NAME:my-app}

  datasource:
    url: jdbc:postgresql://localhost:1231/apm
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: ${LOG_LEVEL_ROOT:INFO}
    org.springframework: ${LOG_LEVEL_SPRING:INFO}
    org.hibernate.SQL: ${LOG_LEVEL_SQL:ERROR}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
